@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gameplay Time</h1>
    <p>
        Welcome to Gameplay Time, Assignment 1 for COMP2084 at Lakehead-Georgian. The purpose of this Web App, developed using ASP.NET Core,
        is to allow users to input how long they have taken to beat a game, and display an average of all user entries. This site currently manages
        data using Game, Genre, and Platform models. This will be extended to models that control a user's times for any game.
    </p>
</div>
